body{
    justify-content: center;
    align-items: center;
    display: flex;
    /* min-width: 100vh; */
    min-height: 100vh;
    background-color: bisque;

}
*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: powderblue;
    padding: 2rem;
    min-width: 45vh;
    min-height: 48vh;
    border-radius: 2rem;
    border: solid 0.5rem rgb(233, 130, 21);
}
form {
    margin: 2rem 0 1rem 0;
  }
  form select,button,input{
    width: 80%;
    border: none;
    border-radius: 1rem;
    /* border: solid 1px red; */
    outline: none;
  }
  form input{
    font-size: 0.95rem;
    padding: 0.25rem;
    margin-top: 1rem;
  }
  .dropdown{
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
  }
  .msg{
    margin:1rem 0 1rem 0;
  }
  .dropdown i{
    display: flex;
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  .select-container img{
    max-width: 2rem;
  }
  .select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    border-radius: 0.5rem;
  border: 2px solid rgb(37, 25, 89);
  margin-top: 1rem;
  }
  form button {
    height: 2.5rem;
    width: 15rem;
    background-color: #af4d98;
    color: blanchedalmond;
    font-size: 1.15rem;
    cursor: pointer;
    justify-content: center;
  }
.amount{
    font-size: 1.2rem;
}